{% extends "base.html" %}
{% block content %}
  <main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>{{ goal.emoji }}<br />Преподаватели <br> {{ goal.name_ru }}</strong></h1>

      <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">

        {% for teach in teachers | sort(attribute="rating", reverse=True) %}
          {% include 'teacher.html' %}
        {% endfor %}
      </div>
    </div>

    {% include 'find.html' %}
{% endblock %}