{% extends "base.html" %}
{% block content %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teach.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">
            
            <section class="teacher=info">

              <h1 class="h2">{{ teach.name }}</h1>
              <p></p>
              {% for goal in teach.goals %}
              <span class="badge badge-secondary mr-2">{{ goals[goal.goal_id] }} </span>
              {% endfor %}
              Рейтинг: {{ teach.rating }} Ставка: {{ teach.price }} / час</p>
              <p>{{ teach.about }}</p>

            </section>

            <section class="available">
              
              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              
              {% for wday in week_days %}
                <h6 class="mt-4">{{ week_days[wday] }}</h6>
                {% set glob_times=[] %}
                {% for time_row in  schedule | selectattr('day', '==', wday) | list %}
                  {% set _ = glob_times.append(1) %}
                  <a href="/booking/{{ time_row.id }}" class="btn btn-outline-success mr-2">{{ time_row.time }} свободно</a>  
                {% endfor %}
                {% if not glob_times | count %}
                  <p>Нет свободных уроков</p>
                {% endif %}
              {% endfor %}

            </section>
          </div>
        </article>
      </div>
    </div>
  </main>
  {% endblock %}